<h1>Critter</h1>

<dl>
    <dt>Build time query generated helpers</dt>
    <dd>Check your query definitions at build time</dd>
    <dt>Curated query and update operators</dt>
    <dd>Only operations that make sense for the field's type are exposed</dd>
</dl>

<p>
    <a id="latest" href="critter/index.html"
       class="btn btn-success btn-dark btn-mongo">Latest documentation</a>
    <a id="latest" href="https://github.com/MorphiaOrg/critter/"
       class="btn btn-success btn-dark btn-mongo">Source Code</a>
</p>
