<h1>Morphia</h1>

<dl>
    <dt>Bidirectional mapping to and from the database</dt>
    <dd>Transparently map your Java entities to MongoDB documents and back.</dd>
    <dt>Extensible Type Conversion</dt>
    <dd>Easily add support for custom types</dd>
    <dt>Robust Query and Update APIs</dt>
    <dt>Full Aggregation Support</dt>
    <dd>Use MongoDB's <a href="http://docs.mongodb.org/manual/aggregation/">aggregation framework</a> with your application's Java
        classes.</dd>
    <dt>Annotation driven indexing</dt>
    <dt>Geospatial Queries</dt>
</dl>

<p>
    <a id="latest" href="2.0.0-RC1/index.html"
       class="btn btn-success btn-dark btn-mongo">Latest documentation</a>
    <a id="latest" href="https://github.com/MorphiaOrg/morphia/"
       class="btn btn-success btn-dark btn-mongo">Source Code</a>
</p>
